<<<<<<< Updated upstream
.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
=======
.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
>>>>>>> Stashed changes
}